body {
  background-image: url("../../public/img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
