body {
  background-image: url("../../public/img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.large {
  font-size: 7vh;
}

a {
  color: lightskyblue;
  line-height: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
